/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 8:04:07 PM
    Author     : wqu
*/
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

#header_container{
}
#name_data{
font-family: 'Comfortaa', cursive;
    font-size:2em;
}
#navigation_container{
font-family: 'Comfortaa', cursive;
    font-size:2em;
}
#page_title{
font-family: 'Comfortaa', cursive;
    font-size: 2em;
    font-weight:bold;
}
#main_container{
font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
}