/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 8:04:07 PM
    Author     : wqu
*/
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

#header_container{
}
#name_data{

font-family: 'Indie Flower', cursive;

}
#navigation_container{
font-family: 'Indie Flower', cursive;
    font-size:2em;
}
#page_title{
    font-size: 3em;
    font-weight:bold;
}
#main_container{
font-family: 'Indie Flower', cursive;
font-size: 1.5em;
}