/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 8:04:07 PM
    Author     : wqu
*/
@import url(https://fonts.googleapis.com/css?family=Quicksand);
#header_container{
}
#name_data{
	font-family: 'Quicksand', sans-serif;
}
#navigation_container{
	font-family: 'Quicksand', sans-serif;
    font-size:1.5em;
}
#page_title{
    font-size: 2em;
    font-weight:bold;
}
#main_container{
	font-family: 'Quicksand', sans-serif;
    font-size: 1.25em;
}
a{
	color: red;
}