.eportfolio_file_tool_bar{
    -fx-background-color: #A9CEDE;

}
.eportfolio_file_tool_bar_button{
	    -fx-background-color: #C5E3F1;
    -fx-padding: 20px 20px 20px 20px;
    -fx-spacing: 50px;
    -fx-border-color: #D8E7CF;
}
.eportfoli_page_control_tool_bar_button{
	    -fx-background-color: #C5E3F1;
    -fx-padding: 20px 20px 20px 20px;
    -fx-spacing: 50px;
    -fx-border-color: #D8E7CF;
}
.eportfolio_page_control_tool_bar{
    -fx-background-color: #A9CEDE;
}
.eportfolio_work_title_vbox{
	-fx-width:200px;
	-fx-height:200px;
	-fx-font-size:1.5em;
}
.eportfolio_page_edit_hbox{
	-fx-background-color:#6E94A4;
	-fx-border-color:#F0F4ED;
	-fx-font-size:1.3em;
}
.eportfolio_page_scroll_pane{
	-fx-background:#9EBFCB;
}
.eportfolio_work_space_pane{
	-fx-font-size:1.3em;
	-fx-background:#D5E7EF;
}
.eportfoli_workspace_control_tool_bar_button{
	    -fx-background-color: #C5E3F1;
    -fx-padding: 20px 20px 20px 20px;
    -fx-spacing: 50px;
    -fx-border-color: #D8E7CF;
}
.eportfolio_workspace_control_tool_bar{
    -fx-background-color: #A9CEDE;
}
.eportfolio_workspace_page_data_pane{
	-fx-padding:0px 10px 0px 3px;

}
.eportfolio_workspace_empty_pane{
    -fx-background-color:#D5E7EF;
}
.eportfolio_workspace_component_padding{
	-fx-padding:20px 10px 0px 3px;
}
.eportfolio_component_view{
	    -fx-background-image: url("1.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1319 242;
  	-fx-font-size:1.3em;
}
.eportfolio_component_selected{
    -fx-effect: dropshadow(three-pass-box, #B6D0A5, 35, 0.8, 0, 0); 

}
.eportfolio_selected{
	-fx-border-color:#8EB177;
	-fx-border-width:10px;
}
.paragraph_text_selection{
    -fx-text-fill: blue;
    -fx-underline: true;
}