/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 10:19:35 AM
    Author     : Wenjun
*/
body{
    background-color: #9DCBCB;
}
#header_container{
    background-color: #9DCBCB;
}
#name_data{
    color:#CEE8E8;
}
#navigation_container{
    background-color:#69A5A5;
}
a{

    color: #CEE8E8;
}
a:hover {
    background-color: #FDC5CC;
}
p a{
    color:black;
}
#main_container{
    background-color: #F3FBFB;
   
}
