/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 10:19:35 AM
    Author     : Wenjun
*/
body{
    background-color: #F6AAB7;

}
#header_container{
    background-color: #F2A6A6;
}
#name_data{
    color:#FFECEC;
}
#navigation_container{
    background-color:#D17272;
}
a{
    color: #FFECEC;
}
a:hover {
    background-color: #8DC755;
}
#main_container{
     background-color: #FFD2D2;
}