/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 10:06:54 AM
    Author     : Wenjun
*/
#header_container{
    width: 100%;
    height: 430px;
    overflow:hidden;
    position:relative;
    position: absolute;
    top:9%;
    
}
#name_data{
    position:absolute;
    top:370px;
    left:26%;
    
}
#banner_src{
    width: auto;
    height:auto;
    position:absolute;
    clip: rect(20px,970px,380px,0px);
    top:0px;
    left:25%;
}
#navigation_container{
    width:90%;
    height:70px;
    position: absolute;
    padding-left: 10%;
    top:0%;

}

#navigation_bar{
    position: absolute;
    left:19%;
    top:-20%;

}
#navigation_bar li{
    display:inline;
    padding:15px;
    
}
#page_title{
    text-align: center;
}
#main_container{
    	position:relative;
        top:490px;
        left:27%;
        width:800px;
        padding-left: 2%;
        padding-right: 2%;
}
