/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 10:19:35 AM
    Author     : Wenjun
*/
body{
    background-color: #83DE7A;
}
#header_container{
    background-color: #47C23A;
}
#name_data{
    color:#CEE8E8;
}
#navigation_container{
    background-color:#BCD982;
}
a{

    color: #FF675F;
}
a:hover {
    background-color: #418686;
}

#main_container{
    background-color: #C7D7BF;
}
