/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 10:19:35 AM
    Author     : Wenjun
*/
body{
    background-color: #FFBF64;
}
#header_container{
    background-color: #E8A23E;
}
#name_data{
    color:#A3D83A;
}
#navigation_container{
    background-color:#C57E1A;
}
a{

    color: #A3D83A;
}
a:hover {
    background-color: #418686;
}

#main_container{
    background-color: #FFD9B9;
}
