/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 10:19:35 AM
    Author     : Wenjun
*/
body{
    background-color: #F8F39E;
}
#header_container{
    background-color: #D0CA63;
}
#name_data{
    color:#797311;
}
#navigation_container{
    background-color:#FFF773;
}
a{
    color: #797311;
}
a:hover {
    background-color: greenyellow;
}
#main_container{
    background-color: #FFFCC2;
}
#footer_container{
    background-color: red;
}