/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 10:06:54 AM
    Author     : Wenjun
*/
#header_container{
    width: 100%;
    height: 430px;
    overflow:hidden;
    position:relative;
    
}
#name_data{
    position:absolute;
    top:370px;

    
}
#banner_src{
    width: auto;
    height:auto;
    position:absolute;
    clip: rect(20px,970px,380px,0px);
    top:0px;
}
#navigation_container{
    width:300px;
    height:300px;

    position:fixed;
    left:65%;
    top:10%;

}

#navigation_bar{
    position: absolute;
    left:10%;
}

#page_title{
        /* height:20px; */
}
#main_container{
    	position:absolute;
        width:800px;
        padding-left: 2%;
        padding-right: 2%;
}
